<head>
    <title>Result &mdash;<%= data['Title'] %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">






    <link rel="stylesheet" href="/css/movie_result.css">

</head>



<body >



    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <!--
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo"><a href="#" class="text-uppercase">Expert</a></div>
                <div>
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block">
                            <li><a href="#" class="nav-link">Home</a></li>
                            <li><a href="#" class="nav-link">Projects</a></li>
                            <li><a href="#" class="nav-link">Process</a></li>
                            <li><a href="#" class="nav-link">Testimonials</a></li>
                            <li><a href="#" class="nav-link">Services</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                    </nav>
                    <a href="#" class="d-inline-block d-xl-none site-menu-toggle js-menu-toggle float-right"><span
                            class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>

    </header>
-->
    <div class="intro-section">
        <div class="container">
            <div class="align-items-center">
                <div class="col-12 mr-auto">

                    <div class="box">
                        <img src="<%=data['Poster']%>" alt="Image" class="img-fluid">
                        <h1><%= data['Title'] %></h1>

                    </div>
                    <span>by:-<%=data['Director']%></span>
                    <p class="year"><i style="float: left;"><%= data['Country'] %></i> <i
                            style=" text-align:center">Runtime: <%= data['Runtime'] %></i> <i
                            style="float:right">(<%= data['Year'] %>)</i><br>
                    </p>
                    <div class="sub-info">

                    <!--  <span class="rating">Rating=<%= data['imdbRating'] %></span>
          -->
                    <strong>Languages:<i> <%= data['Language'] %></i> </strong><br>
                    <strong>Genre:<i> <%= data['Genre']%>.</i> </strong>
                </div>

                <div ><br>
                    <p id="plot" class="plot"><%= data['Plot'] %></p>
                    <!--<p><a href="#" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a></p>
                        -->
                </div>
                <strong>Actors:<i> <%= data['Actors']%>.</i> </strong>

            </div>

        </div>

    </div>
    </div>


    </div>
</body>



