<head>
    <title>Result &mdash;<%= data['Title'] %></title>
 
</head>

<body>



    <div class="container ">
        <div class=" row  ">
            <div class="col-lg-12 text-center">
                <img src="<%=data['Poster']%>" alt="Image">
                <h1><%= data['Title']%>(<%= data['Year'] %>)</h1>
            </div>
        </div>
        <div class="row">


                <div class=" col-12">
                    <span> Directed by:-<%=data['Director']%></span><br>
                    <span> Written by:-<%=data['Writer']%></span>
                    <div>
                        <i><%= data['Country'] %></i><br>
                        <i><%= data['Runtime'] %></i>
                    </div>
                    <span>'<%= data['Rated'] %>'</span><br>
                    <span><%= data['imdbRating'] %>/10</span><br>

                    <strong>Languages:<i> <%= data['Language'] %></i>
                    </strong><br>
                    <strong>
                        Genre:<i> <%= data['Genre']%>.</i>
                    </strong>


                    <br>
                    <p><%= data['Plot'] %></p>
                    <strong>Actors:<i> <%= data['Actors']%>.</i> </strong>

                </div>
            </div>
        

    </div>
</body>