<% include partials/header %>
<%console.log('(==============6=================)')%>
<!-- <% allmovies[0].comments.forEach(function(comment){ %>
				<strong><%= comment.username %></strong>
				<p><%= comment.email %></p>
			
	<% });%> -->
<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6 text-center">
				<h3><%= data['Title']%>(<%= data['Year'] %>)</h3>
				<div class="single-prd-item">
					<img class="img-fluid" src="<%=data['Poster']%>" alt="">
				</div>


			</div>

			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">


					<ul class="list">
						<li><span> Directed by:-<strong><%=data['Director']%></strong></span><br></li>
						<li><span> Written by:-<strong><%=data['Writer']%></strong></span></li>

						<li><span> Actors:-<strong><%=data['Actors']%></strong></span></li>

					</ul>

					<div class="card_area d-flex align-items-center">
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
					<p><%= data['Plot'] %></p>

				</div>
			</div>

		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Specification</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
					aria-controls="review" aria-selected="false">Reviews</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">

			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<h5>Country</h5>
								</td>
								<td>
									<i><%= data['Country'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Runtime</h5>
								</td>
								<td>
									<i><%= data['Runtime'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Language</h5>
								</td>
								<td>
									<i> <%= data['Language'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Rated</h5>
								</td>
								<td>
									<i><%= data['Rated'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Awards</h5>
								</td>
								<td>
									<i><%= data['Awards'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Released</h5>
								</td>
								<td>
									<i><%= data['Released'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>DVD</h5>
								</td>
								<td>
									<i><%= data['DVD'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>BoxOffice</h5>
								</td>
								<td>
									<i><%= data['BoxOffice'] %></i>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Production</h5>
								</td>
								<td>
									<i><%= data['Production'] %></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>4.0</h4>
									<h6>(03 Reviews)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Based on 3 Reviews</h3>
									<ul class="list">
										<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
									</ul>
								</div>

							</div>
							<div class="review_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="../images/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="../images/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="../images/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea
										commodo</p>
								</div>

								<!------------------------------------------------------------------------->>
								<% allmovies[0].comments.forEach(function(comment){ %>

								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="../images/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4><%= comment.username %></h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p><%= comment.message %></p>
								</div>
								<% });%>
								<!------------------------------------------------------------------------->
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Review</h4>
							<div>
								<p>Your Rating:</p>
								<section class='rating-widget'>

									<!-- Rating Stars Box -->
									<div class='rating-stars text-center'>
										<ul id='stars'>
											<li class='star' title='Poor' data-value='1'>
												<i class='fa fa-star '></i>
											</li>
											<li class='star' title='Fair' data-value='2'>
												<i class='fa fa-star '></i>
											</li>
											<li class='star' title='Good' data-value='3'>
												<i class='fa fa-star '></i>
											</li>
											<li class='star' title='Excellent' data-value='4'>
												<i class='fa fa-star '></i>
											</li>
											<li class='star' title='WOW!!!' data-value='5'>
												<i class='fa fa-star '></i>
											</li>
										</ul>
									</div>




									<div class='success-box'>
										<div class='clearfix'></div>

										<div class='text-message'></div>
										<div class='clearfix'></div>
									</div>

								</section>
							</div>
							<form action="/results/<%= allmovies[0]['_id'] %>/comments"
								class="form-contact form-review mt-3" method="POST">

								<div class="form-group">
									<input class="form-control" name="username" type="text"
										placeholder="Enter your name" required>
								</div>
								<div class="form-group">
									<input class="form-control" name="email" type="email"
										placeholder="Enter email address" required>
								</div>
								<div class="form-group">
									<input class="form-control" name="subject" type="text" placeholder="Enter Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control different-control w-100" name="message" id="textarea"
										cols="30" rows="5" placeholder="Enter Message"></textarea>
								</div>


								<div class="form-group text-center text-md-right mt-3">
									<button type="submit" id="submit" class="button button--active button-review">Submit
										Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
</section>
<!--================End Product Description Area =================-->

<script>
	console.log('helloo frin r');
	var ratingValue = 0;
	$(document).ready(function () {

		/* 1. Visualizing things on Hover - See next part for action on click */
		$('#stars li').on('mouseover', function () {
			var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

			// Now highlight all the stars that's not after the current hovered star
			$(this).parent().children('li.star').each(function (e) {
				if (e < onStar) {
					$(this).addClass('hover');
				} else {
					$(this).removeClass('hover');
				}
			});

		}).on('mouseout', function () {
			$(this).parent().children('li.star').each(function (e) {
				$(this).removeClass('hover');
			});
		});


		/* 2. Action to perform on click */
		$('#stars li').on('click', function () {
			var onStar = parseInt($(this).data('value'), 10); // The star currently selected
			var stars = $(this).parent().children('li.star');

			for (i = 0; i < stars.length; i++) {
				$(stars[i]).removeClass('selected');
			}

			for (i = 0; i < onStar; i++) {
				$(stars[i]).addClass('selected');
			}

			// JUST RESPONSE (Not needed)
			ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
			var msg = "";
			if (ratingValue > 1) {
				msg = "Thanks! You rated this " + ratingValue + " stars.";
			} else {
				msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
			}
			responseMessage(msg);

		});



	});

	function responseMessage(msg) {
		$('.success-box').fadeIn(200);
		$('.success-box div.text-message').html("<span>" + msg + "</span>");
	}
	$('#submit').click(function (e) {
		e.preventDefault();

		console.log('submit clicked');
		var rate = parseInt($('#stars li.selected').last().data('value'), 10);
		$.post("/results/<%= allmovies[0]['_id'] %>/comments", {
			ratinng: rate,
			message: $("#textarea").val(),
			username: $("input[name=username]").val(),
			email: $("input[name=email]").val(),
			subject: $("input[name=subject]").val(),

		});


	});
</script>

<link rel="stylesheet" href="/css/aroma_style.css">
<link rel="stylesheet" href="/css/movie_result.css">

<% include partials/footer %>