<link rel="stylesheet" href="/css/results.css">
<% include partials/header %>

<body>
    <div id="result-page" class=" main-body container">

        <h1>Results </h1>

    </div>


    <ul id="results" id="style-1" class=" mx-auto  list-group">
        <% data["Search"].forEach(function(movie) { %>
        <li ><a href="results/<%=movie['Title']%>" name='<%= movie["Title"]%>'style="border-radius: 0px" id="result-items" class=" tex-center list-group-item list-group-item-action" ><strong><%= movie["Title"]%></strong> <span
                class="badge badge-pill badge-primary"><%= movie["Type"]%></span> <span
                class="badge badge-dark badge-pill"><%= movie["Year"]%> </span></a></li>
        <% }); %>
    </ul>
 



    <section class="back-to-search mix-auto">
        <a id="back-to-search" href="/"><small> back to search</small></a>
    </section>

</body>


<% include partials/footer %>